$base-color: #1a73e8;
$dark-gray: darkslategray;
$white: #ffffff;
$gray: #808080;
$black: #000000;
$gray-stroke1: #c3c3c3;

$font-size-xs: 12px;
$font-size-sm: 13px;
$font-size-md: 15px;
$font-size-lg: 17px;

$space-sm: 5px;
$space-md: 10px;
$space-lg: 15px;
